DOCTYPE html>
<hmt<!l lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
</head>

<body>
    
<div class="body">

    <body style="background-color:rgb(180, 180, 184);">
    </body>
<div class="title">  
    <h1><center>Curriculum Vitae <br> Carlos Eduardo Guerrero Ormeño </center></h1>
    <img aling="right"; src="Image.jpg" border="10px" height="100px" width="100px" color ="black"/>
</div>

<div class="titulos">  
    <br><hr> 
    <h2><center><FONT color = "blue">Datos Personales</FONT></h2></center>
    <hr> 
</div>
       
<div = "Datos">
    <p><strong>Nombre:</strong> Carlos Eduardo Guerrero Ormeño </p>
    <p><strong>CI:</strong> 0930731518 </p>
    <p><strong>Estado Civil:</strong> Casado </p>
    <p><strong>Fecha de nacimiento: </strong>4 de marzo de 1993 </p>
    <p><strong>Nacionalidad: </strong>Ecuatoriano </p>
    <br> &nbsp;<hr>
</section>

<center><h3><FONT color = "blue">Estudios Realizados</FONT></h3></center>

<hr> 
    <p><strong>Estudios Primarios:</strong> Escuela Particular "ADONAI" </p>
    <p><strong>Estudios Secundarios:</strong> "LIFE COLLEGE INTERNATIONAL"</p>
    <p><strong>&ensp; Bachillerato:</strong> Comercio y Administración con especialización en Informática</p>
    <p><strong>Estudios Universitarios:</strong> Universidad Politécnica Salisiana </p>
    <p><strong>&ensp; Carrera:</strong> Ing. Industrial - 5to semestre (abandonada)</p>
    <p><strong>Estudios Universitarios:</strong> Universidad Estatal de Guayaquil
    <p><strong>&ensp;Carrera:</strong> Lci. Gestión de la Información Gerencial 4to semestre (en curso)</p>
    <br> &nbsp;<hr>

<center><h3><FONT color = "blue">Experiencia Laboral</FONT></h3></center>
<hr> 
<section id="Experiencia">
    <p><strong>Empresa: </strong>BLSoluciones</p>
    <p><strong>&ensp; Tiempo: </strong>1 año</p>
    <p><strong>&ensp; Cargo: </strong>Cajero - Técnico </p>
    <p><strong>Empresa: </strong>THERMAL S.A.</p>
    <p><strong>&ensp; Tiempo: </strong>6 meses</p>
    <p><strong>&ensp; Cargo: </strong>Bodeguero</p>
    <p><strong>Empresa: </strong>AMERICAN CALL CENTER</p>
    <p><strong>&ensp; Tiempo:</strong> 10 años (actualidad)</p>
    <p><strong>&ensp; Cargo: </strong>Lider Jr de Operaciones Soporte Técnico Corporativo</p>
    <br> &nbsp; <hr>
</section>

<center><h4><FONT color = "blue">Conocimientos Adquiridos</FONT></h4></center>
<hr> 
<section id="Conocimientos">
    <p>&ensp;Mantenimiento y reparación de computadoras</p>
    <p>&ensp;Inglés intermedio</p>
    <p>&ensp;Curso "5 Estrellas de Servicio al Cliente"</p>
    <p>&ensp;Conocimiento de paqute Office nivel intermedio</p>
</section>

</body>

</hmtl>